html {
	background-color: gray;
}

h1{
	color: darkviolet;
	font-family: Comic Sans Ms;
	font-size: 35px;
}

h3{
	color: lime;
	font-family: Verdana;
}

p{
	color: turquoise;
	font-family: Arial;
}

ul{
	font-style: bold;
	color: red;
}

ol{
	font-style: italic;
	color: white;
}

li{
	color:green;
	font-weight: 600;
}